@charset "UTF-8";

@media screen and (min-width: 100px) and (max-width: 779px){
    form > .container-div  input{
        padding: 5px 5px 5px 70px;
        border-radius: 5px;
        margin-top: 5px;
        margin-left: 40px;
        transform: translateY(-39px);
    }
}
@media screen and (min-width: 780px) and (max-width: 992px){
    section#login{

        width: 650px;
        height: 450px;

    }

    div#imagem{
        float: left;
        width: 40%;
        height: 100%;
    }

    form > .container-div{
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
        border-radius: 10px;
        width:99%;
        height: 40px;
       }

       form > .container-div > input{
        padding: 5px 70px 5px 70px;
        text-align: center;
        border-radius: 5px;
        transform: translateY(-7px);
    }

       form > .container-botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 33%;
        height: 40px;
        padding-top: 5px;
        margin-top: 5px;
        margin-left: 347px;
        background-color: rgb(255, 255, 255);
        color: #2d6462;
        border: 1px solid #49a09d;
        border-radius: 10px;
        text-decoration: none;
    }
}

@media screen and (min-width: 993px) {
    section#login{
        width: 900px;
        height: 410px;
    }

    div#imagem{
        float: right;
        width: 40%;
        height: 100%;
    }

    div#formulario{
        float: left;
        width: 60%;
    }
    

    form > .container-div{
        background-color: #5f2c82;
        border: 2px solid #5f2c82;
        border-radius: 10px;
        width: 40%;
        height: 40px;
        margin-top: -10%;
        margin-left: 11%;
    }       

    #div2{
        margin: 100px;
    }

form > .container-botao{
        display: block;
        text-align: center;
        font-size: 1em;
        width: 24%;
        height: 40px;
        padding-top: 5px;
        margin-top: 5px;
        margin-left: 18%;
        background-color: white;
        color: #2d6462;
        border: 1px solid #49a09d;
        border-radius: 10px;
        text-decoration: none;
    }

}
