@charset "UTF-8";

:root{
    --cor-principal: #ffffff;
    --cor-secundaria: #49a09d;
    --cor-liláis: #5f2c82;
    --cor-roxa: 
}   

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

html, body{
    width: 100v;
    height: 100vh;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

main{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: #5f2c82;
}

#login{
    position: absolute;
    top: 50%;
    left: 50%;

    width: 300px;
    height: 500px;

    border-radius: 10px;
    background-color: white;

    transform: translate(-50%, -50%);
}

#imagem{
    background-image: url(../imagens/pexels-dinnow-9444476.jpg);
    background-position: left bottom;
    background-size: cover;
    border-radius: 5px 5px 0px 0px;
    height: 190px;
}

#formulario{
    display: block;
    padding: 10px;
}

#formulario h1{
    text-align: center;
    padding: 4px;
}

#formulario p{
    text-align: justify;
}

.container-div{
 background-color: #5f2c82;
 border: 2px solid #5f2c82;
 border-radius: 10px;
 width: 100%;
 height: 40px;
}

.container-div > span {
    background-color: black;
    color: white;
    height: 100%;
    padding: 5px;
}

.container-div  input{
    padding: 5px 5px 5px 70px;
    border-radius: 5px;
    transform: translateY(-7px);
}

form > input[type=submit] {
    display: block;
    background-color: #49a09d;
    color: white;
    margin: auto;
    margin-top: 10px;
    padding: 13px 90px 13px 90px;
    border: 2px solid white;
    border-radius: 10px;
    cursor: pointer;
}

form > input[type=submit]:hover {
    background-color: #2d6462;
}

.container-botao{
    display: block;
    text-align: center;
    font-size: 1em;
    width: 72%;
    height: 40px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 42px;
    background-color: white;
    color: #2d6462;
    border: 1px solid #49a09d;
    border-radius: 10px;
    text-decoration: none;
}

form > a.container-botao:hover {
    background-color: #2d6462;
    color: white;
}